<!-- wp:pattern {"slug":"startupzy/section-1-hero"} /-->

<!-- wp:pattern {"slug":"startupzy/section-2-about"} /-->

<!-- wp:pattern {"slug":"startupzy/feature"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"layout":{"contentSize":"1170px"}} -->
<div class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:columns {"verticalAlignment":"center"} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"textAlign":"left","style":{"spacing":{"margin":{"bottom":"40px"}},"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"uppercase","letterSpacing":"2px","lineHeight":"0","fontSize":"14px"},"color":{"text":"#1e70ea"}},"className":"startupzy-animate startupzy-move-right startupzy-delay-1"} -->
<h2 class="has-text-align-left startupzy-animate startupzy-move-right startupzy-delay-1 has-text-color" style="color:#1e70ea;font-size:14px;font-style:normal;font-weight:600;line-height:0;margin-bottom:40px;text-transform:uppercase;letter-spacing:2px">Our Pricing</h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"left","style":{"typography":{"fontStyle":"normal","fontWeight":"600","fontSize":"36px"},"color":{"text":"#07295a"}}} -->
<h2 class="has-text-align-left has-text-color" style="color:#07295a;font-size:36px;font-style:normal;font-weight:600">Choose The Best Pricing</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"style":{"color":{"text":"#798290"}}} -->
<p class="has-text-color" style="color:#798290">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"60px"}}},"className":"startupzy-animate startupzy-move-up startupzy-delay-1"} -->
<div class="wp-block-group startupzy-animate startupzy-move-up startupzy-delay-1" style="padding-top:60px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"border":{"width":"1px","style":"solid","color":"#ccd2db","radius":{"topLeft":"50px","topRight":"0px","bottomLeft":"0px","bottomRight":"50px"}},"spacing":{"padding":{"top":"50px","right":"50px","bottom":"50px","left":"50px"}}}} -->
<div class="wp-block-group has-border-color" style="border-color:#ccd2db;border-top-left-radius:50px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:50px;border-style:solid;border-width:1px;padding-top:50px;padding-right:50px;padding-bottom:50px;padding-left:50px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"style":{"color":{"text":"#07295a"},"typography":{"fontSize":"28px"}}} -->
<h2 class="has-text-color" style="color:#07295a;font-size:28px">Bacic Plan </h2>
<!-- /wp:heading -->

<!-- wp:heading {"style":{"color":{"text":"#1e70ea"},"typography":{"fontSize":"42px"},"spacing":{"margin":{"bottom":"30px"}}}} -->
<h2 class="has-text-color" style="color:#1e70ea;font-size:42px;margin-bottom:30px">$59.9</h2>
<!-- /wp:heading -->

<!-- wp:separator {"customColor":"#ccd2db","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-background is-style-wide" style="background-color:#ccd2db;color:#ccd2db"/>
<!-- /wp:separator --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:list {"style":{"typography":{"lineHeight":"2.5","fontStyle":"normal","fontWeight":"400"},"color":{"text":"#717c90"}},"fontSize":"tiny"} -->
<ul class="has-text-color has-tiny-font-size" style="color:#717c90;font-style:normal;font-weight:400;line-height:2.5"><li>Brand Performance Analytics</li><li>Daily Price Change Notification</li><li>Marketplace Price Tracking</li><li>Stock Availability Monitoring</li><li>Marketplace Price Tracking</li></ul>
<!-- /wp:list -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"},"style":{"spacing":{"margin":{"top":"20px"}}}} -->
<div class="wp-block-buttons" style="margin-top:20px"><!-- wp:button {"width":100,"style":{"border":{"radius":{"topLeft":"20px","topRight":"0px","bottomLeft":"0px","bottomRight":"20px"}},"spacing":{"padding":{"top":"15px","right":"40px","bottom":"15px","left":"40px"}},"typography":{"fontSize":"12px"}},"className":"is-style-custombuttonfill2"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-custombuttonfill2" style="font-size:12px"><a class="wp-block-button__link" style="border-top-left-radius:20px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:20px;padding-top:15px;padding-right:40px;padding-bottom:15px;padding-left:40px">Get Started</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"border":{"color":"#ccd2db","radius":{"topLeft":"50px","topRight":"0px","bottomLeft":"0px","bottomRight":"50px"}},"spacing":{"padding":{"top":"50px","right":"50px","bottom":"50px","left":"50px"}},"color":{"background":"#1e70ea"}}} -->
<div class="wp-block-group has-border-color has-background" style="background-color:#1e70ea;border-color:#ccd2db;border-top-left-radius:50px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:50px;padding-top:50px;padding-right:50px;padding-bottom:50px;padding-left:50px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"fontSize":"28px"}},"textColor":"white"} -->
<h2 class="has-white-color has-text-color" style="font-size:28px">Premium Plan </h2>
<!-- /wp:heading -->

<!-- wp:heading {"style":{"typography":{"fontSize":"42px"},"spacing":{"margin":{"bottom":"30px"}},"color":{"text":"#07295a"}}} -->
<h2 class="has-text-color" style="color:#07295a;font-size:42px;margin-bottom:30px">$159.9</h2>
<!-- /wp:heading -->

<!-- wp:separator {"customColor":"#ccd2db","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-background is-style-wide" style="background-color:#ccd2db;color:#ccd2db"/>
<!-- /wp:separator --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:list {"style":{"typography":{"lineHeight":"2.5","fontStyle":"normal","fontWeight":"400"},"color":{"text":"#f8f8f8"}},"fontSize":"tiny"} -->
<ul class="has-text-color has-tiny-font-size" style="color:#f8f8f8;font-style:normal;font-weight:400;line-height:2.5"><li>Brand Performance Analytics</li><li>Daily Price Change Notification</li><li>Marketplace Price Tracking</li><li>Stock Availability Monitoring</li><li>Marketplace Price Tracking</li></ul>
<!-- /wp:list -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"},"style":{"spacing":{"margin":{"top":"20px"}}}} -->
<div class="wp-block-buttons" style="margin-top:20px"><!-- wp:button {"width":100,"style":{"border":{"radius":{"topLeft":"20px","topRight":"0px","bottomLeft":"0px","bottomRight":"20px"}},"spacing":{"padding":{"top":"15px","right":"40px","bottom":"15px","left":"40px"}},"typography":{"fontSize":"12px"}},"className":"is-style-custombuttonfill3"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-custombuttonfill3" style="font-size:12px"><a class="wp-block-button__link" style="border-top-left-radius:20px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:20px;padding-top:15px;padding-right:40px;padding-bottom:15px;padding-left:40px">Get Started</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"border":{"width":"1px","style":"solid","color":"#ccd2db","radius":{"topLeft":"50px","topRight":"0px","bottomLeft":"0px","bottomRight":"50px"}},"spacing":{"padding":{"top":"50px","right":"50px","bottom":"50px","left":"50px"}}}} -->
<div class="wp-block-group has-border-color" style="border-color:#ccd2db;border-top-left-radius:50px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:50px;border-style:solid;border-width:1px;padding-top:50px;padding-right:50px;padding-bottom:50px;padding-left:50px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"style":{"color":{"text":"#07295a"},"typography":{"fontSize":"28px"}}} -->
<h2 class="has-text-color" style="color:#07295a;font-size:28px">Standard Plan </h2>
<!-- /wp:heading -->

<!-- wp:heading {"style":{"color":{"text":"#1e70ea"},"typography":{"fontSize":"42px"},"spacing":{"margin":{"bottom":"30px"}}}} -->
<h2 class="has-text-color" style="color:#1e70ea;font-size:42px;margin-bottom:30px">$89.9</h2>
<!-- /wp:heading -->

<!-- wp:separator {"customColor":"#ccd2db","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-background is-style-wide" style="background-color:#ccd2db;color:#ccd2db"/>
<!-- /wp:separator --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:list {"style":{"typography":{"lineHeight":"2.5","fontStyle":"normal","fontWeight":"400"},"color":{"text":"#717c90"}},"fontSize":"tiny"} -->
<ul class="has-text-color has-tiny-font-size" style="color:#717c90;font-style:normal;font-weight:400;line-height:2.5"><li>Brand Performance Analytics</li><li>Daily Price Change Notification</li><li>Marketplace Price Tracking</li><li>Stock Availability Monitoring</li><li>Marketplace Price Tracking</li></ul>
<!-- /wp:list -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"},"style":{"spacing":{"margin":{"top":"20px"}}}} -->
<div class="wp-block-buttons" style="margin-top:20px"><!-- wp:button {"width":100,"style":{"border":{"radius":{"topLeft":"20px","topRight":"0px","bottomLeft":"0px","bottomRight":"20px"}},"spacing":{"padding":{"top":"15px","right":"40px","bottom":"15px","left":"40px"}},"typography":{"fontSize":"12px"}},"className":"is-style-custombuttonfill2"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-custombuttonfill2" style="font-size:12px"><a class="wp-block-button__link" style="border-top-left-radius:20px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:20px;padding-top:15px;padding-right:40px;padding-bottom:15px;padding-left:40px">Get Started</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"startupzy/testimonial"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"120px","bottom":"100px"}}},"layout":{"wideSize":"1170px"}} -->
<div class="wp-block-group" style="padding-top:120px;padding-bottom:100px"><!-- wp:query {"queryId":24,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
<div class="wp-block-query"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"40px"}},"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"uppercase","letterSpacing":"2px","lineHeight":"0","fontSize":"14px"},"color":{"text":"#1e70ea"}},"className":"startupzy-animate startupzy-move-up startupzy-delay-1"} -->
<h2 class="has-text-align-center startupzy-animate startupzy-move-up startupzy-delay-1 has-text-color" style="color:#1e70ea;font-size:14px;font-style:normal;font-weight:600;line-height:0;margin-bottom:40px;text-transform:uppercase;letter-spacing:2px">Our Blog</h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"40px"}},"typography":{"fontStyle":"normal","fontWeight":"600","fontSize":"36px"},"color":{"text":"#07295a"}}} -->
<h2 class="has-text-align-center has-text-color" style="color:#07295a;font-size:36px;font-style:normal;font-weight:600;margin-bottom:40px">Latest Blog &amp; Articles</h2>
<!-- /wp:heading -->

<!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"spacing":{"margin":{"bottom":"20px"}}}} /-->

<!-- wp:post-date {"style":{"typography":{"fontSize":"14px"},"color":{"text":"#1e70ea"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"#07295a"}}},"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"21px","lineHeight":"1.7"}}} /-->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"spacing":{"margin":{"top":"20px","bottom":"20px"}},"elements":{"link":{"color":{"text":"#1e70ea"}}},"color":{"text":"#717c90"}}} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->